@import 'styles.scss';
:host ::ng-deep .p-dialog-mask {
  margin: 2.6rem 0 0 0rem;
}
:host ::ng-deep .p-dialog {
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  box-shadow: none;
  & .p-dialog-header {
    display: none;
  }
  & .p-dialog-content {
    padding: 0 1.5rem 0.5rem 0;
    box-shadow: 0 0 10px 0 rgb(34 34 34 / 10%);
    border-radius: 0.5em 0 0 0;
    & .close-btn {
      position: absolute;
      right: 4em;
      top: 1em;
      z-index: 10;
      cursor: pointer;
      font-size: 0.8em;
    }
    & .workspace {
      margin: 8px 1px 0 8px;
      height: 94vh;
      width: 100%;
      box-shadow: none;
      & .workspace-container {
        padding: 0.5rem 0;
        width: calc(22% - 8px);
        overflow: hidden;
        & .workspaces-item {
          &__link {
            cursor: pointer;
          }
        }
        & .p-virtualscroller-item {
          & .active {
            border-left: 3px solid $primary-color;
          }
        }
      }
      & .workspace-recentdata {
        width: 76%;
        & .p-tabview-nav {
          padding-bottom: 7px;
          border-bottom: 1px solid #e5e5e5;
        }
        & .p-tabview-panels {
          padding: 2.3em 0 0 0.875em !important;
        }
        & .sort-filter {
          top: 52px;
        }
      }
    }
  }
  & .p-tabview-panels {
    .cdk-virtual-scroll-content-wrapper {
      display: grid;
      grid-template-columns: 32.5% 32.5% 32.5% !important;
      column-gap: 4px;
      row-gap: 8px;
      background-color: #fafafa;
    }
  }
}

.overlay {
  position: absolute;
  top: 2.6rem;
  bottom: 0;
  right: 0;
  left: 4.5%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  border-radius: 10px 0 0 0;
}
