<div class="container">
  <div class="homepage">
    <div class="homepage__workspaces">
      <s-workspace-browser [ispopup]="false"></s-workspace-browser>
    </div>
    <div class="homepage__alert">
      <alerts></alerts>
    </div>
    <div class="homepage__recent-activities">
      <recent-activities></recent-activities>
    </div>
    <div class="homepage__manage-objects">
      <manage-objects></manage-objects>
    </div>
    <div class="homepage__events">
      <events></events>
    </div>
  </div>
</div>
