@import '../../../../../styles/styles.scss';
.mo {
  padding: 0.5rem;
  & .manageObject {
    & .mainheader {
      padding-top: 16px;
    }
  }
}
:host ::ng-deep .p-card {
  padding: 0px 10px;
  box-shadow: none !important;
  margin-bottom: -18px !important;
  margin: 0px;
  & .p-card-header {
    @include font(Roboto, normal, 12px, bold);
    & i {
      font-size: 1.3em;
      padding: 1px;
      background-color: $card-header-bg-color;
      color: $card-header-color;
      border-radius: 9px;
      margin-right: 5px;
      font-weight: 500;
    }
  }
  & .p-card-body {
    padding: 0px 1em 0 1.2em;
    & .p-card-content {
      padding: 0;
      & p {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 28px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: 5px 0 12px 6px;
        @include font(Roboto, normal, 11px, normal);
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: normal;
        text-align: left;
        color: $color-date-font;
        margin-top: 2px;
        margin-bottom: 10px;
      }
    }
    & .btn-action {
      width: 78px;
      height: 24px;
      color: $background-color-primary;
      background-color: $primary-color;
      border-radius: 6px;
      border: none;
      @include font(Roboto, normal, 10px, bold);

      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: center;
      color: $background-color-primary;
      margin: 0 -0.5rem !important;
      @media (max-width: 1024px) {
        margin: 0 0 12px !important;
      }
      &.otherBtn {
        color: $primary-color !important;
        box-shadow: 0 0 10px 0 rgba(34, 34, 34, 0.1);
        background-color: $background-color-primary !important;
        border: 1px solid $primary-color;
        margin: 0 !important;
      }
    }
  }
}
:host ::ng-deep .p-card .p-card-header {
  display: flex;
  align-items: center;
}
:host ::ng-deep .p-card .p-card-header i {
  border-radius: 5px;
}
