<div class="c-summary">
  <div class="c-summary__top">
    <div class="title">
      <h6>Summary</h6>
    </div>
    <div class="options">
      <div class="option"><i class="fa fa-hand-rock-o icon"></i></div>
      <div class="option"><i class="pi pi-download"></i></div>
      <div class="option"><i class="pi pi-external-link"></i></div>
      <div class="option"><i class="pi pi-ellipsis-v"></i></div>
    </div>
  </div>
  <div class="c-summary__content">
    <div>
      <span class="title">No. of Assets</span>
      <span class="value">800</span>
    </div>
    <div>
      <span class="title">TIV</span>
      <span class="value">23.0M</span>
    </div>
    <div>
      <span class="title">Currency</span>
      <span class="value">USD</span>
    </div>
  </div>
</div>
