<div class="p-grid user">
  <div class="p-col-6">
    <div class="box"></div>
  </div>
  <div class="p-col-4 user__login">
    <div class="register">
      <div class="register__header">Register</div>
      <div class="register__form p-mt-4">
        <form #registerForm="ngForm" class="">
          <div class="register--flexrow">
            <div class="register__input-group register--flexcol">
              <label class="register__label">First Name</label>
              <input class="register__input" type="text" />
            </div>
          </div>
          <div>Email</div>
          <div>Account</div>
          <div>
            <div>Password</div>
            <div>Repeat Password</div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="p-col-2">
    <div class="box"></div>
  </div>
</div>
