<div class="about-body">
  <div>
    <a [routerLink]="['/home']"
      ><img
        alt="Eigen Prism"
        class="logo_standard"
        src="assets/images/logo-eigen.png"
        style="
          max-width: 378px;
          max-height: 56px;
          width: auto;
          height: auto;
          display: inline-block;
        "
    /></a>
  </div>
  <div style="margin-top: 20px">
    <p><em>EigenPrism</em> 4.0.0.0</p>
    <p><em>Version</em> 4.0.0.0 (Build 4.0.0.2.0218.1)</p>
    <p><em>RACE</em> 120210111.1.7z</p>
    <p><em>UI</em> 20210218.2.7z</p>
    <p>Copyright © EigenRisk Inc.</p>
  </div>
</div>
<ng-template pTemplate="footer">
  <!-- <p-button icon="pi pi-times" (click)="showPopup.visible=false" label="Send"></p-button> -->
</ng-template>
