<div class="event-heading">Recent Activity</div>
<div class="activity">
  <div class="activity__para" *ngFor="let activity of recentActivities">
    <p class="activity__para--date">{{ activity.activityDate }}</p>
    <div class="activity__para__wrapper">
      <i class="activity__para__wrapper--icon" aria-hidden="true">
        <span [ngClass]="getActivityImage(activity.activityType)"></span>
      </i>
      <ng-container *ngIf="activity.isObjectLink">
        <p class="activity__para__wrapper--desc">
          {{ activity.descriptionString1 }}
          <a href="" class="href">{{ activity.objectName }}</a>
        </p>
      </ng-container>
      <ng-container *ngIf="!activity.isObjectLink">
        <span [innerHtml]="activity.description"></span>
      </ng-container>
    </div>
  </div>
</div>
