@import '../../../../../../styles/styles.scss';

.c-contribution {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.125rem 0rem 1.5rem 0rem;
    .title {
      width: 60%;
      h6 {
        margin: 0;
        font-family: $font-family-primary;
        font-size: $font-size-md;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;

        span {
          color: $primary-color;
        }
      }
    }
    .options {
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      i {
        font-size: $font-size-md;
        color: $color-gray;
      }

      .option {
        width: 13%;
        text-align: end;
        line-height: 0.8;

        .icon {
          font-size: 16px;
          line-height: 0.8;
        }
      }
    }
  }
}
