<div class="main-heading">Recently used analysis types</div>
<div class="p-grid">
  <div class="p-col-6 rectangle" (click)="goTo()">
    <div class="inner_card">
      <h3 class="rect-heading">Exposure Summary</h3>
      <p class="rect-content">
        Visualise & interact with your exposure on a map. View totals, find top
        assets & drivers of value.
      </p>
      <div class="rect-map img1"></div>
      <p class="launch">
        Launch
        <span class="chevron">
          <i class="fa fa-angle-right"></i>
        </span>
      </p>
    </div>
  </div>
  <div class="p-col-6 rectangle" (click)="goTo()">
    <div class="inner_card">
      <h3 class="rect-heading">Spider</h3>
      <p class="rect-content">
        Automatically find regions of highest accumulation based on a specified
        accumulation radius and other… more advanced options
      </p>
      <div class="rect-map img2"></div>
      <p class="launch">
        Launch
        <span class="chevron">
          <i class="fa fa-angle-right"></i>
        </span>
      </p>
    </div>
  </div>
  <div class="p-col-6 rectangle" (click)="goTo()">
    <div class="inner_card">
      <h3 class="rect-heading">Eigen Rover</h3>
      <p class="rect-content">
        Automatically surface worst case scenario events by selecting an event
        set or any group of events
      </p>
      <div class="rect-map img"></div>
      <p class="launch">
        Launch
        <span class="chevron">
          <i class="fa fa-angle-right"></i>
        </span>
      </p>
    </div>
  </div>
  <div class="p-col-6 rectangle" (click)="goTo()">
    <div class="inner_card">
      <h3 class="rect-heading">Portfolio Impact</h3>
      <p class="rect-content">
        Overlay new accounts on your in-force or target portfolio, &
        automatically determine regions of high… accumulations exceeding set
        thresholds .
      </p>
      <div class="rect-map img3"></div>
      <p class="launch">
        Launch
        <span class="chevron">
          <i class="fa fa-angle-right"></i>
        </span>
      </p>
    </div>
  </div>
</div>
