<h3 class="main-heading">Recently viewed analysis</h3>
<div class="workspace">
  <div class="workspace-recentdata">
    <div class="p-grid">
      <div class="p-col-10">
        <s-object-list
          [scrollHeight]="'calc(80vh)'"
          [objectItemOptions]="analysisItemOptions"
          [objectList]="analytics"
        >
          <ng-template pTemplate="analysis_actions">
            <span
              class="box actions__workspace btn-action"
              (click)="showPopup()"
              >Recall analysis
              <i class="pi pi-angle-right ml-4 btn-icon"></i>
            </span>
          </ng-template>
        </s-object-list>
      </div>
    </div>
  </div>
</div>

<p-contextMenu
  #ep
  [global]="false"
  [model]="exposureMenu"
  class="contextMenu"
></p-contextMenu>
<s-pop-up-dialog
  (closeEvent)="showComingSoon = false"
  [showComingSoon]="showComingSoon"
></s-pop-up-dialog>
